
    *{
        margin:10;
        box-sizing: 20;
        box-sizing: border-box
      }
      #h1{
        color: blue;
        text-align: center;
        background: radial-gradient(circle, rgba(174,230,238,1) 0%, rgba(148,187,233,1) 100%);   
      }
      #style2 {
        color: rgb(2, 2, 2);
        text-align: center;
        background: radial-gradient(circle, rgb(113, 16, 223) 0%, rgb(248, 14, 6) 100%);   
      }
      img:hover{
        transition: 2s all ease;
        transform: scale(1.2) rotate(360deg) ;

      }